* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}


#header {
    background-color: #000;
    height: 46px;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1;
}

#nav>li {
    display: inline-block;
}

#nav>li:hover a {
    color: #000;
}

#nav>li:hover {
    color: #000;
    background-color: #ccc;
}

#nav>li>a {
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    color: white;
    line-height: 46px;
    padding: 0 24px;
    font-size: 15px;
    display: block;

}

#nav {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav li:hover .subnav {
    display: block;
    background-color: #fff;
}

#nav .subnav a {
    color: #000;
    min-width: 160px;
    font-size: 15px;
    padding: 0 16px;
}

#nav .subnav li:hover a {
    background-color: #ccc;
}

#nav .subnav {
    display: none;
    position: absolute;
    list-style-type: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.font-down {
    font-size: 12px;
}

#header .font-search:hover {
    color: #fff;
    background-color: #f44336;
}

#header .font-search {
    color: #fff;
    float: right;
    padding: 0 24px;
    line-height: 46px;
}

#slider {
    margin-top: 46px;
    padding-top: 50%;
    background: url('/assets/img/slider-image/chicago.jpg') top center /contain no-repeat;
    position: relative;
}

.text-content {
    width: 100%;
    position: absolute;
    bottom: 0px;
    color: white;
    margin: 32px 16px;
}

.text-heading {
    display: flex;
    justify-content: center;
    margin: 10px 0px;
    font-weight: 500;
    font-family: sans-serif;
}

.text-description {
    display: flex;
    justify-content: center;
    margin: 10px 0px;
    font-weight: 600;
    font-family: "Lato";
}


#content {
    text-align: center;
}

.tour-day,
.the-band {
    max-width: 800px;
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.title-band {
    margin: 10px;
    letter-spacing: 4px;
    font-weight: 500;
    font-size: 25px;
}

#slogan {
    font-weight: 500;
    font-style: italic;
    margin: 15px;
    color: #ccc;
}

#describe-theband {
    margin: 15px 0px;
    text-align: justify;
    line-height: 1.5;
    font-family: "Lato";
}

.identify {
    display: flex;
    max-width: 800px;
    margin: auto;
    justify-content: space-around;
    padding: 32px 16px 96px 16px;

}

.Name {
    margin: 15px 0px;
}

.picture-member {
    width: 154px;
    border-radius: 4px;
}

/*===================================================================*/

.frames {
    height: 845px;
    padding: 64px 16px;
    background-color: #000;
    color: #fff;
}

.tour-day {
    padding: 64px 16px;
}

.title-tour {
    letter-spacing: 4px;
    font-weight: 400;
    font-size: 30px;
    margin: 10px 0px;
}

.notify {
    color: #ccc;
    font-style: italic;
    margin: 15px 0px;
}

.information-ticket {
    padding: 0px 8px;
}

.infor {
    display: flex;
    flex-direction: row;
    padding: 8px 16px;
    background-color: white;
    border-bottom: solid #ddd;
    line-height: 1.5;
}

.month {
    color: #ccc;
}

.note {
    background-color: #f44336;
    color: white;
    margin-left: 16px;
    padding: 0px 8px;
}

.info3 {
    display: flex;
    justify-content: space-between;
    border: none;
}

.note-number {
    background-color: #000;
    border-radius: 30px;
    margin: 0px 16px 0px 0px;
    padding: 0px 8px;
}

/*===================================================================*/

.ticket-buy {
    padding: 32px 0px;
    display: flex;
}

.picture-ticket {
    width: 100%;
    margin-bottom: -4px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.location {
    width: 33.33333%;
    color: black;
    padding: 0px 8px;
}

.describe-picture {
    background-color: white;
    text-align: left;
    padding: 0px 16px;
    font-size: "Lato";
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.name-location {
    padding: 15px 0px;
    font-size: 15px;
    font-weight: 600;
}

.time {
    margin-bottom: 15px;
    color: #ccc;
}

.paragraph {
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 200;
}

.send:hover,
.buy:hover {
    color: black;
    background: #ccc;
    cursor: pointer;
}

.buy {
    display: inline-block;
    background-color: #000;
    line-height: 1.5;
    padding: 8px 16px;
    margin-bottom: 16px;
    border-radius: 30px;
    color: #fff;
    text-decoration: none;
}

/*===================================================================*/
.box-contact {
    padding: 64px 16px;
}

.contact {
    letter-spacing: 4px;
    margin: 10px 0px;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.box-contact .describe {
    opacity: 0.6;
    font-style: italic;
    font-size: 15px;
}

.infor-contact {
    display: flex;
    flex-direction: row;
    max-width: 800px;
    margin: auto;
    padding: 32px 16px;
}

.box-contact-one {
    width: 50%;
    text-align: left;
    margin-bottom: 16px;
    font-size: 18px;
    font-family: sans-serif;
}

.contact-online {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.box-input {
    padding: 8px;
}

.box-contact-two {
    width: 50%;

}

.input-one {
    padding-right: 8px;
}

.input-two {
    padding-left: 8px;
}

.input-three {
    width: 100%;
}


.send {
    padding: 8px 16px;
    margin: 16px;
    float: right;
    color: white;
    background: black;
    border: none;
}

/*===================================================================*/
.background-end {
    width: 100%;
    filter: grayscale(50%);
}

#footer {
    padding: 64px 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*===================================================================*/


.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    justify-content: center;
    align-items: center;

}

.modal.open {
    display: flex;
}

.modal-container {
    background: #fff;
    position: relative;
    width: 900px;
    max-width: 94%;
    min-height: 200px;
    animation: goSlider ease 0.4s;

}

.modal-font-close:hover {
    background: #ccc;
    color: #000;
    cursor: pointer;
}

.modal-font-close {
    position: absolute;
    right: 0px;
    padding: 12px;
    color: #fff;
}

.modal-header {
    background: #009688;
    height: 128px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 4px;
}


.modal-font-bag {
    padding-right: 10px;
}

.contain-input {
    padding: 0px 16px;
}

.modal-infor-price {
    margin: 15px 0px;
}

.modal-font {}

.modal-input-email,
.modal-input-price {
    margin-top: 15px;
    width: 100%;
    display: block;
    padding: 8px;
}

.modal-infor-email {}

.modal-font {}

.pay-ticket:hover {
    background: #ccc;
    color: #000;
    cursor: pointer;
}

.pay-ticket {
    margin: 16px;
    display: flex;
    justify-content: center;
    background: #009688;
    padding: 16px;
}

.ti-check {}

.modal-help {
    display: flex;
    justify-content: flex-end;
    margin: 16px;
}

/*===================================================================*/
@keyframes goSlider {
    from {
        opacity: 0;
        transform: translateY(-130px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}